
th, td {
  border: 1px solid #374151;
  padding: 116px;
  text-align: left;
  width: 50%; 
  min-width: 220px;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  table-layout: auto;

}
.get-key{
  background-color: dodgerblue!important;
  height: 52px !important;
  width: 95%;
}

.response-container{
  max-width: 100%!important;
  height: 200px;
}