openapi: 3.0.3
info:
  title: TMDB API DOCUMENTATION
  description: "The Movie Database is an API that provides comprehensive movie, TV show, and celebrity data. TMDB offers APIs that developers use to access and integrate its data into applications, websites, or services."
  version: 1.0.0
  contact: {}
servers:
  - url: "https://api.themoviedb.org/3"
  # - url: "https://api.themoviedb.org/4"

paths:
  /authentication/token/new:
    get:
      tags:
        - Authentication
      summary: Create Request Token
      description: |
        This endpoint generates a new token that can be used to authenticate user sessions.
      operationId: createToken
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates success
                  expires_at:
                    type: string
                    description: Expiration time
                  request_token:
                    type: string
                    description: Token for request
                example:
                  success: true
                  expires_at: "2024-12-10 14:56:55 UTC"
                  request_token: "4ff0d20a781c2f2b6c2bc9f1d20b87fed34c1a57"

  /authentication/session/new:
    post:
      tags:
        - Authentication
      summary: Create Session
      description: |
        This endpoint is used to create your session. You must authenticate your token before doing this.     
      operationId: createSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_token:
                  type: string
                  description: A token to authenticate the request.
              required:
                - request_token
            example:
              request_token: "4ff0d20a781c2f2b6c2bc9f1d20b87fed34c1a57"
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object 
                properties:
                  success:
                    type: boolean
                    description: Indicates success 
                  session_id:
                    type: string
                    description:  Returns the session id  
                example:  
                  success: "true"
                  session_id: "dde0201c7e069c67295c39ad01a74d3f70a0fa74"

  /authentication/guest_session/new:
    get:
      tags:
        - Authentication
      summary: Create Guest Session
      description: |  
        This endpoint gives some of the functionality of an account
      operationId: guestSession
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object 
                properties:
                  success:
                    type: boolean
                    description: Indicates success
                  guest_session_id:
                    type: string
                    description: The unique identifier for the guest session      
                  expires_at:
                    type: string
                    description: Expiration time
                example:  
                  success: true
                  guest_session_id: "3fa3ace49eac71a12c4d6037bf211e86"
                  expires_at: "2024-12-17 21:02:18 UTC"
                  
  /authentication/token/validate_with_login:
    post:
      tags:
        - Authentication
      summary: Create Session with Login
      description: |
        This endpoint is used to validate a request token by entering a username and password.
      operationId: validateLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The user's username.
                password:
                  type: string
                  description: The user's password.
                request_token:
                  type: string
                  description: A token to authenticate the request.
              required:
                - username
                - password
                - request_token
            example:
              username: "bisi"
              password: "test123"
              request_token: "65579224bd555f9fccda03941a3dcc53b606abee"
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates success
                  expires_at:
                    type: string
                    description: Expiration time
                  request_token:
                    type: string
                    description: Token for request         
                example:  
                  success: true
                  expires_at: "2024-12-16 22:49:51 UTC"
                  request_token: "65579224bd555f9fccda03941a3dcc53b606abee"

  /authentication/session:
    delete:
      tags:
        - Authentication
      summary: Delete Session
      description: This endpoint is used to delete a session.
      operationId: deleteSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  format: json
                  description: A raw JSON string representing the request body.
              required:
                - RAW_BODY
              example:
                session_id: "dde0201c7e069c67295c39ad01a74d3f70a0fa74"
      responses:
        200:
          description: Delete Session
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates success
                example:
                  success: true

  /authentication:
    get:
      tags:
        - Authentication
      summary: Validate Key
      description: |
        This endpoint is used to test your API Key to see if it's valid.
      operationId: validateKey
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates success
                  status_code: 
                    type: integer
                    description: Indicates success
                  status_message:
                    type: string
                    description: Indicates that the action was completed without any errors
                example:
                  success: true
                  status_code: 1
                  status_message: Success
        
        
  /account/{account_id}:
    get:
      tags:
        - Account
      summary: Details
      description: |
        This endpoint retrieves the public details of an account on TMDB.
      operationId: accountDetails
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
      responses:
        200:
          description: Successful
          content: 
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  avatar:
                    type: object
                    description: An object that holds avatar data
                  gravatar:
                    type: object
                    description: An object representing the user’s Gravatar image
                  hash:
                    type: string
                    description: Represents a unique identifier
                  tmdb:
                    type: object
                    description: Contains details about the user
                  id:
                    type: integer
                    description: A unique identifier for the user
                  iso_639_1:
                    type: string
                    description: Language code
                  iso_3166_1:
                    type: string
                    description: Country code
                  name:
                    type: string
                    description: The name of the user
                  include_adult:
                    type: boolean
                    description: Whether the user includes adult content
                  username:
                    type: string
                    description: The username of the user
                example:
                  avatar:
                    gravatar:
                      hash: "374b042c3cf5a753197e33390a88137b"
                    tmdb:
                      avatar_path: null
                  id: 13974313
                  iso_639_1: "en"
                  iso_3166_1: "NG"
                  name: ""
                  include_adult: false
                  username: "bisi"

  /account/{account_id}/favorite:
    post:
      tags:
        - Account
      summary: Add Favorite
      description: |
        This endpoint is used to mark a movie or TV show as favorite.
      operationId: accountFavorite
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object 
                properties:
                  status_code:
                    type: integer
                    description: 	Request was successfully processed by the server
                  status_message:
                    type: string
                    description: Indicates that the action was completed without any errors
                example:
                  status_code: 1
                  status_message: Success
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                media_type:
                  type: string
                  description: The type of media (e.g., movie, TV show).
                media_id:
                  type: integer
                  description: The unique identifier for the media.
                favorite:
                  type: boolean
                  description: Indicates whether the media is marked as a favorite.
              required:
                - media_type
                - media_id
                - favorite
            example:
              media_type: "movie"
              media_id: 500
              favorite: true

  /account/{account_id}/watchlist:
    post:
      tags:
        - Account
      summary: Add to Watchlist
      description: |
        This endpoint is used to add a movie or TV show to your watchlist.
      operationId: accountWatchlist
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: 	Request was successfully processed by the server
                  status_message:
                    type: string
                    description: Indicates that the action was completed without any errors 
                example:
                  status_code: 1
                  status_message: "Success."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                media_type:
                  type: string
                  description: The type of media (e.g., movie, TV show).
                media_id:
                  type: integer
                  description: The unique identifier for the media.
                watchlist:
                  type: boolean
                  description: Indicates whether the media is added to the watchlist.
              required:
                - media_type
                - media_id
                - watchlist
            example:
              media_type: "movie"
              media_id: 11
              watchlist: true
    
  /account/{account_id}/favorite/movies:
    get:
      tags:
        - Account
      summary: Favorite Movies
      description: |
        This endpoint get a users list of favourite movies.
      operationId: favoriteMovies
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                    items:
                      type: object
                      properties: 
                        adult:
                          type: boolean
                        backdrop_path:
                          type: string
                        id:
                          type: integer
                        title:
                          type: string
                        original_language:
                          type: string
                        original_title:
                          type: string
                        overview:
                          type: string
                        poster_path:
                          type: string
                        genre_ids:
                          type: array
                        popularity:
                          type: number
                        release_date:
                          type: string
                        video:
                          type: boolean
                        vote_average:
                          type: number
                        vote_count:
                          type: integer
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset 
                example:
                  page: 1
                  results:
                    - adult: false
                      backdrop_path: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                      genre_ids:
                        - 18
                      id: 550
                      original_language: en
                      original_title: Fight Club
                      overview: >-
                        A ticking-time-bomb insomniac and a slippery soap salesman channel primal
                        male aggression into a shocking new form of therapy. Their concept catches
                        on, with underground "fight clubs" forming in every town, until an
                        eccentric gets in the way and ignites an out-of-control spiral toward
                        oblivion.
                      popularity: 89.557
                      poster_path: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                      release_date: '1999-10-15'
                      title: Fight Club
                      video: false
                      vote_average: 8.438
                      vote_count: 29503
                  total_pages: 1
                  total_results: 1
             
  /account/{account_id}/favorite/tv:
    get:
      tags:
        - Account
      summary: Favorite TV
      description: |
        This endpoint get a users list of favourite TV shows.
      operationId: favoriteTV
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset  
                example:
                  page: 1
                  results: []
                  total_pages: 0
                  total_results: 0

  /account/{account_id}/lists:
    get:
      tags:
        - Account
      summary: Lists
      description: | 
        This endpoint is used to get a users list of custom lists.
      operationId: accountList
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session-id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset 
                example:
                  page: 1
                  results: []
                  total_pages: 0
                  total_results: 0
      
  /account/{account_id}/rated/movies:
    get:
      tags:
        - Account
      summary: Rated Movies
      description: |
        This endpoint is used to get a users list of rated movies.
      operationId: ratedMovies
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object 
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset  
                example:
                  page: 1
                  results: []
                  total_pages: 0
                  total_results: 0

  /account/{account_id}/rated/tv:
    get:
      tags:
        - Account
      summary: Rated TV
      description: | 
        This endpoint is used to get a users list of rated tv shows.
      operationId: ratedTV
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset  
                example:
                  page: 1
                  results: []
                  total_pages: 0
                  total_results: 0

  /account/{account_id}/rated/tv/episodes:
    get:
      tags:
        - Account
      summary: Rated TV Episodes
      description: |
        This endpoint is used to get a users list of rated tv episodes.
      operationId: ratedTVepisodes
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object  
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset
                example:
                  page: 1
                  results: []
                  total_pages: 0
                  total_results: 0

  /account/{account_id}/watchlist/movies:
    get:
      tags:
        - Account
      summary: Watchlist Movies
      description: |
        This endpoint is used to get a list of movies added to a users watchlist.
      operationId: watchlistMovies
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                        backdrop_path:
                          type: string
                        id:
                          type: integer
                        title:
                          type: string
                        original_language:
                          type: string
                        original_title:
                          type: string
                        overview:
                          type: string
                        poster_path:
                          type: string
                        genre_ids:
                          type: array
                        popularity:
                          type: number
                        release_date:
                          type: string
                        video:
                          type: boolean
                        vote_average:
                          type: number
                        vote_count:
                          type: integer
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset  
                example:
                  page: 1
                  results:
                    - adult: false
                      backdrop_path: /zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg
                      genre_ids:
                        - 12
                        - 28
                        - 878
                      id: 11
                      original_language: en
                      original_title: Star Wars
                      overview: >-
                        Princess Leia is captured and held hostage by the evil Imperial forces in
                        their effort to take over the galactic Empire. Venturesome Luke Skywalker
                        and dashing captain Han Solo team together with the loveable robot duo
                        R2-D2 and C-3PO to rescue the beautiful princess and restore peace and
                        justice in the Empire.
                      popularity: 96.503
                      poster_path: /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
                      release_date: '1977-05-25'
                      title: Star Wars
                      video: false
                      vote_average: 8.2
                      vote_count: 20652
                  total_pages: 1
                  total_results: 1
                  
  /account/{account_id}/watchlist/tv:
    get:
      tags:
        - Account
      summary: Watchlist TV
      description: |
        This endpoint is used to get a list of TV shows added to a users watchlist.
      operationId: watchlistTV
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account to retrieve.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Defaults to en-US
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Defaults to 1
          schema:
            type: integer
        - name: session_id
          in: query
          required: false
          description: The session ID for user authentication.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Defaults to created_at.asc
          schema:
            type: string
      responses:
        200:
          description: Successful
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: 	Indicates the current page number
                  results: 
                    type: array
                    description: Contains the list of data or items
                  total_pages:
                    type: integer
                    description: Specifies the total number of pages available
                  total_results:
                    type: integer
                    description: Represents the total number of items or records in a dataset  
                example:
                  page: 1
                  results: []
                  total_pages: 0
                  total_results: 0

  /certification/movie/list:
    get:
      tags:
        - Certification
      summary: Movie Certifications
      description: |
        This endpoint is used to get an up to date list of the officially supported movie certifications on TMDB.    
      operationId: movieCertification
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                type: object 
                properties:
                  certifications:
                    type: object
                    description: Movie Certifications by Country
                    properties:
                      DE:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      BR:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      FI:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      SG:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      VI:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      ES:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      FR:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0
                      PT:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0
                      HG:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0        
                      TH:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0
                      NZ:
                        type: array
                        items:
                          type: object
                          properties:
                            certification:
                              type: string
                            meaning:
                              type: string
                            order:
                              type: integer
                              default: 0 
                      US:
                          type: array
                          items:
                            type: object
                            properties:
                              certification:
                                type: string
                              meaning:
                                type: string
                              order:
                                type: integer
                                default: 0  
                example:
                  certifications:
                    DE:
                      - certification: '12'
                        meaning: >-
                          Children 12 or older admitted, children between 6 and 11 only when
                          accompanied by parent or a legal guardian.
                        order: 3
                      - certification: '18'
                        meaning: No youth admitted, only adults.
                        order: 5
                      - certification: '0'
                        meaning: No age restriction.
                        order: 1
                      - certification: '6'
                        meaning: No children younger than 6 years admitted.
                        order: 2
                      - certification: '16'
                        meaning: Children 16 or older admitted, nobody under this age admitted.
                        order: 4
                    BR:
                      - certification: '14'
                        meaning: >-
                          Not recommended for minors under fourteen. More violent material,
                          stronger sex references and/or nudity.
                        order: 4
                      - certification: '16'
                        meaning: >-
                          Not recommended for minors under sixteen. Scenes featuring production,
                          trafficking and/or use of illegal drugs, hyper-realistic sex, sexual
                          violence, abortion, torture, mutilation, suicide, trivialization of
                          violence and death penalty.
                        order: 5
                      - certification: L
                        meaning: >-
                          General Audiences. Do not expose children to potentially harmful
                          content.
                        order: 1
                      - certification: '12'
                        meaning: >-
                          Not recommended for minors under twelve. Scenes can include physical
                          aggression, use of legal drugs and sexual innuendo.
                        order: 3
                      - certification: '10'
                        meaning: >-
                          Not recommended for minors under ten. Violent content or inappropriate
                          language to children, even if of a less intensity.
                        order: 2
                      - certification: '18'
                        meaning: >-
                          Not recommended for minors under eighteen. Scenes featuring explicit
                          sex, incest, pedophilia, praising of the use of illegal drugs and
                          violence of a strong imagery impact.
                        order: 6
                    FI:
                      - certification: K-16
                        meaning: Over 16 years.
                        order: 4
                      - certification: K-12
                        meaning: Over 12 years.
                        order: 3
                      - certification: K-7
                        meaning: Over 7 years.
                        order: 2
                      - certification: S
                        meaning: For all ages.
                        order: 1
                      - certification: K-18
                        meaning: Adults only.
                        order: 5
                      - certification: KK
                        meaning: Banned from commercial distribution.
                        order: 6
                    SG:
                      - certification: G
                        meaning: Suitable for all ages.
                        order: 1
                      - certification: PG
                        meaning: Suitable for all but parents should guide their young.
                        order: 2
                      - certification: PG13
                        meaning: >-
                          Suitable for persons aged 13 and above but parental guidance is advised
                          for children below 13.
                        order: 3
                      - certification: NC16
                        meaning: Suitable for persons aged 16 and above.
                        order: 4
                      - certification: M18
                        meaning: Suitable for persons aged 18 and above.
                        order: 5
                      - certification: R21
                        meaning: Suitable for adults aged 21 and above (restricted to licensed cinemas).
                        order: 6
                    VI:
                      - certification: G
                        meaning: All ages admitted.
                        order: 1
                      - certification: PG
                        meaning: Some material may not be suitable for children.
                        order: 2
                      - certification: PG-13
                        meaning: Some material may be inappropriate for children under 13.
                        order: 3
                      - certification: R
                        meaning: Under 17 requires accompanying parent or adult guardian.
                        order: 4
                      - certification: NC-17
                        meaning: No one 17 and under admitted.
                        order: 5
                      - certification: NR
                        meaning: ''
                        order: 0
                    ES:
                      - certification: A
                        meaning: General admission.
                        order: 1
                      - certification: Ai
                        meaning: General admission.
                        order: 2
                      - certification: '7'
                        meaning: Not recommended for audiences under 7.
                        order: 3
                      - certification: 7i
                        meaning: Not recommended for audiences under 7.
                        order: 4
                      - certification: '12'
                        meaning: Not recommended for audiences under 12.
                        order: 5
                      - certification: '16'
                        meaning: Not recommended for audiences under 16.
                        order: 5
                      - certification: '18'
                        meaning: Not recommended for audiences under 18.
                        order: 7
                      - certification: X
                        meaning: Prohibited for audiences under 18.
                        order: 8
                    FR:
                      - certification: TP
                        meaning: Valid for all audiences.
                        order: 1
                      - certification: '12'
                        meaning: >-
                          Unsuitable for children younger than 12 or forbidden in cinemas for
                          under 12.
                        order: 2
                      - certification: '16'
                        meaning: >-
                          Unsuitable for children younger than 16 or forbidden in cinemas for
                          under 16.
                        order: 3
                      - certification: '18'
                        meaning: >-
                          Unsuitable for children younger than 18 or forbidden in cinemas for
                          under 18.
                        order: 4
                    PT:
                      - certification: Públicos
                        meaning: >-
                          For all the public (especially designed for children under 3 years of
                          age).
                        order: 1
                      - certification: M/3
                        meaning: Passed for viewers aged 3 and older.
                        order: 2
                      - certification: M/6
                        meaning: Passed for viewers aged 6 and older.
                        order: 3
                      - certification: M/12
                        meaning: Passed for viewers aged 12 and older.
                        order: 4
                      - certification: M/14
                        meaning: Passed for viewers aged 14 and older.
                        order: 5
                      - certification: M/16
                        meaning: Passed for viewers aged 16 and older.
                        order: 6
                      - certification: M/18
                        meaning: Passed for viewers aged 18 and older.
                        order: 7
                      - certification: P
                        meaning: >-
                          Special rating supplementary to the M/18 age rating denoting
                          pornography.
                        order: 8
                    HU:
                      - certification: '6'
                        meaning: Not recommended below age of 6.
                        order: 2
                      - certification: '16'
                        meaning: Not recommended below age of 16.
                        order: 4
                      - certification: KN
                        meaning: Without age restriction.
                        order: 1
                      - certification: '18'
                        meaning: Not recommended below age of 18.
                        order: 5
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: '12'
                        meaning: Not recommended below age of 12.
                        order: 3
                      - certification: X
                        meaning: Restricted below 18, for adults only.
                        order: 6
                    TH:
                      - certification: P
                        meaning: Educational.
                        order: 1
                      - certification: G
                        meaning: General audience
                        order: 2
                      - certification: '13'
                        meaning: Suitable for viewers aged 13 years and over.
                        order: 3
                      - certification: '15'
                        meaning: Suitable for viewers aged 15 years and over
                        order: 4
                      - certification: '18'
                        meaning: Suitable for viewers aged 18 years and over.
                        order: 5
                      - certification: '20'
                        meaning: Content is unsuitable for viewers aged under 20
                        order: 6
                      - certification: Banned
                        meaning: Films that are not allowed to screen publicly in Thailand
                        order: 7
                    MX:
                      - certification: AA
                        meaning: 'Informative-only rating: Understandable for children under 7 years.'
                        order: 1
                      - certification: A
                        meaning: 'Information-only rating: For all age groups.'
                        order: 2
                      - certification: B
                        meaning: 'Information-only rating: For adolescents 12 years and older.'
                        order: 3
                      - certification: B-15
                        meaning: 'Information-only rating: Not recommended for children under 15.'
                        order: 4
                      - certification: C
                        meaning: 'Restrictive rating: For adults 18 and older.'
                        order: 5
                      - certification: D
                        meaning: >-
                          Restrictive rating: Adult movies (legally prohibited to those under 18
                          years of age).
                        order: 6
                    JP:
                      - certification: G
                        meaning: General, suitable for all ages.
                        order: 1
                      - certification: PG12
                        meaning: Parental guidance requested for young people under 12 years.
                        order: 2
                      - certification: R15+
                        meaning: No one under 15 admitted.
                        order: 3
                      - certification: R18+
                        meaning: No one under 18 admitted.
                        order: 4
                    AT:
                      - certification: AA
                        meaning: alle Altersstufen
                        order: 1
                      - certification: '6'
                        meaning: Freigegeben ab 6 Jahren
                        order: 2
                      - certification: '8'
                        meaning: Freigegeben ab 8 Jahren
                        order: 3
                      - certification: '10'
                        meaning: Freigegeben ab 10 Jahren
                        order: 4
                      - certification: '12'
                        meaning: Freigegeben ab 12 Jahren
                        order: 5
                      - certification: '14'
                        meaning: Freigegeben ab 14 Jahren
                        order: 6
                      - certification: '16'
                        meaning: Freigegeben ab 16 Jahren
                        order: 7
                    DK:
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: A
                        meaning: Suitable for a general audience.
                        order: 1
                      - certification: '7'
                        meaning: Not recommended for children under 7.
                        order: 2
                      - certification: '11'
                        meaning: For ages 11 and up.
                        order: 3
                      - certification: '15'
                        meaning: For ages 15 and up.
                        order: 4
                      - certification: F
                        meaning: Exempt from classification.
                        order: 5
                    PH:
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: PG
                        meaning: >-
                          Viewers below 13 years old must be accompanied by a parent or
                          supervising adult.
                        order: 2
                      - certification: X
                        meaning: “X-rated” films are not suitable for public exhibition.
                        order: 6
                      - certification: R-18
                        meaning: Only viewers who are 18 years old and above can be admitted.
                        order: 5
                      - certification: R-16
                        meaning: Only viewers who are 16 years old and above can be admitted.
                        order: 4
                      - certification: G
                        meaning: Viewers of all ages are admitted.
                        order: 1
                      - certification: R-13
                        meaning: Only viewers who are 13 years old and above can be admitted.
                        order: 3
                    AR:
                      - certification: ATP
                        meaning: For all public.
                        order: 1
                      - certification: '+13'
                        meaning: >-
                          Suitable for 13-year-olds and over. Children under the age of 13 are
                          admitted if accompanied by an adult.
                        order: 2
                      - certification: '+16'
                        meaning: Suitable for 16-year-olds and over.
                        order: 3
                      - certification: '+18'
                        meaning: Suitable for 18-year-olds and over.
                        order: 4
                      - certification: C
                        meaning: >-
                          Suitable for 18-year-olds and over. Restricted to specially licensed
                          venues.
                        order: 5
                    GR:
                      - certification: K
                        meaning: No restrictions.
                        order: 1
                      - certification: K12
                        meaning: >-
                          The film may contain mild violence and adult themes. Suitable for people
                          aged 13 and above.
                        order: 2
                      - certification: K15
                        meaning: >-
                          The film may contain violence, drug abuse, and softcore pornographic
                          scenes. An ID card certifying the age is required in all Greek cinemas
                          and video rental shops in order to get a cinema ticket or rent a video
                          of a 
                        order: 3
                      - certification: K18
                        meaning: Not permitted to people under the age of 18.
                        order: 4
                    IE:
                      - certification: G
                        meaning: >-
                          Suitable for children of school going age (note: children can be
                          enrolled in school from the age of 4).
                        order: 1
                      - certification: PG
                        meaning: >-
                          Suitable for children over the age of 8. Parental guidance is
                          recommended for children under the age of 12.
                        order: 2
                      - certification: 12A
                        meaning: >-
                          Suitable for viewers of 12 and over. Younger children may be admitted to
                          the film at cinemas if accompanied by an adult; on home video younger
                          viewers are not permitted to purchase/rent the video.
                        order: 3
                      - certification: 15A
                        meaning: >-
                          Suitable for viewers of 15 and over. Younger viewers may be admitted to
                          the film at cinemas if accompanied by an adult; on home video younger
                          viewers are not permitted to purchase/rent the video.
                        order: 4
                      - certification: '16'
                        meaning: Suitable for viewers of 16 and over. Younger viewers are not admitted.
                        order: 5
                      - certification: '18'
                        meaning: >-
                          Suitable only for adults. Viewers under 18 are not admitted at cinemas
                          or permitted to purchase/rent the video.
                        order: 6
                      - certification: '12'
                        meaning: >-
                          Suitable for viewers of 12 and over. Younger children may be admitted to
                          the film at cinemas if accompanied by an adult; on home video younger
                          viewers are not permitted to purchase/rent the video.
                        order: 3
                      - certification: '15'
                        meaning: >-
                          Suitable for viewers of 15 and over. Younger viewers may be admitted to
                          the film at cinemas if accompanied by an adult; on home video younger
                          viewers are not permitted to purchase/rent the video.
                        order: 4
                    CA-QC:
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: G
                        meaning: >-
                          General Rating – May be viewed, rented or purchased by persons of all
                          ages. If a film carrying a "G" rating might offend the sensibilities of
                          a child under 8 years of age, "Not suitable for young children" is
                          appended to the classification.
                        order: 1
                      - certification: 13+
                        meaning: >-
                          13 years and over – May be viewed, rented or purchased only by children
                          13 years of age or over. Children under 13 may be admitted only if
                          accompanied by an adult.
                        order: 2
                      - certification: 16+
                        meaning: >-
                          16 years and over – May be viewed, rented or purchased only by children
                          16 years of age or over.
                        order: 3
                      - certification: 18+
                        meaning: >-
                          18 years and over – May be viewed, rented or purchased only by adults 18
                          years of age or over. If a film contains real and explicit sexual
                          activity "Explicit sexuality" is appended to the classification, and in
                          the retail video industry storeowners are required to place the film in
                          a room reserved for adults.
                        order: 4
                    'NO':
                      - certification: '6'
                        meaning: 6 years (no restriction for children accompanied by an adult).
                        order: 2
                      - certification: '9'
                        meaning: 9 years (children down to 6 years accompanied by an adult).
                        order: 3
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: '18'
                        meaning: ' 18 years (absolute lower limit).'
                        order: 6
                      - certification: '15'
                        meaning: 15 years (young down to 12 years accompanied by an adult).
                        order: 5
                      - certification: '12'
                        meaning: 12 years (children down to 9 years accompanied by an adult).
                        order: 4
                      - certification: A
                        meaning: Suitable for all.
                        order: 1
                    TR:
                      - certification: Genel İzleyici Kitlesi
                        meaning: General audience.
                        order: 1
                      - certification: 6A
                        meaning: Viewers under the age of 6 may watch with accompanying family members.
                        order: 2
                      - certification: 6+
                        meaning: Suitable for viewers aged 6 and over.
                        order: 3
                      - certification: 10A
                        meaning: Viewers under the age of 10 may watch with accompanying family members.
                        order: 4
                      - certification: 10+
                        meaning: Suitable for viewers aged 10 and over.
                        order: 5
                      - certification: 13A
                        meaning: Viewers under the age of 13 may watch with accompanying family members.
                        order: 6
                      - certification: 13+
                        meaning: Suitable for viewers aged 13 and over.
                        order: 7
                      - certification: 16+
                        meaning: Suitable for viewers aged 16 and over.
                        order: 8
                      - certification: 18+
                        meaning: Suitable for viewers aged 18 and over.
                        order: 9
                    CA:
                      - certification: G
                        meaning: All ages.
                        order: 2
                      - certification: PG
                        meaning: >-
                          Parental guidance advised. There is no age restriction but some material
                          may not be suitable for all children.
                        order: 3
                      - certification: 14A
                        meaning: Persons under 14 years of age must be accompanied by an adult.
                        order: 4
                      - certification: 18A
                        meaning: >-
                          Persons under 18 years of age must be accompanied by an adult. In the
                          Maritimes & Manitoba, children under the age of 14 are prohibited from
                          viewing the film.
                        order: 5
                      - certification: R
                        meaning: >-
                          Restricted to 18 years and over. No rental or purchase by those under
                          18. Content not suitable for minors. Video contains frequent use of:
                          sexual activity; brutal/graphic violence; intense horror; and/or other
                          disturbing content.
                        order: 6
                      - certification: A
                        meaning: >-
                          Admittance restricted to people 18 years of age or older. Sole purpose
                          of the film is the portrayal of sexually explicit activity and/or
                          explicit violence.
                        order: 7
                      - certification: E
                        meaning: >-
                          Exempt. Contains material not subject to classification such as
                          documentaries, nature, travel, music, arts and culture, sports and
                          educational and instructional information.
                        order: 1
                    ID:
                      - certification: SU
                        meaning: All ages.
                        order: 1
                      - certification: 13+
                        meaning: Suitable for ages 13 and above.
                        order: 2
                      - certification: 17+
                        meaning: Suitable for ages 17 and above.
                        order: 3
                      - certification: 21+
                        meaning: Suitable for ages 21 and above.
                        order: 4
                    IL:
                      - certification: All
                        meaning: ''
                        order: 1
                      - certification: '12'
                        meaning: ''
                        order: 2
                      - certification: '14'
                        meaning: ''
                        order: 3
                      - certification: '16'
                        meaning: ''
                        order: 4
                      - certification: '18'
                        meaning: ''
                        order: 5
                    HK:
                      - certification: I
                        meaning: ''
                        order: 1
                      - certification: IIA
                        meaning: ''
                        order: 2
                      - certification: IIB
                        meaning: ''
                        order: 3
                      - certification: III
                        meaning: ''
                        order: 4
                    CL:
                      - certification: TE
                        meaning: General audience.
                        order: 2
                      - certification: TE+7
                        meaning: Not suitable for children younger than 7 years.
                        order: 3
                      - certification: '14'
                        meaning: 14 years old and over.
                        order: 4
                      - certification: '18'
                        meaning: 18 years old and over.
                        order: 5
                      - certification: UR
                        meaning: Unrated.
                        order: 1
                    IT:
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: T
                        meaning: All ages admitted.
                        order: 1
                      - certification: 6+
                        meaning: Not suitable for children under 6.
                        order: 2
                      - certification: 14+
                        meaning: >-
                          Released to ages 14 and older; children who are at least 12 may be
                          admitted with adult accompaniment.
                        order: 3
                      - certification: 18+
                        meaning: >-
                          Released to ages 18 and older; children who are at least 16 may be
                          admitted with adult accompaniment.
                        order: 4
                    NZ:
                      - certification: G
                        meaning: Suitable for general audiences.
                        order: 1
                      - certification: PG
                        meaning: Parental guidance recommended for younger viewers.
                        order: 2
                      - certification: M
                        meaning: Suitable for (but not restricted to) mature audiences 16 years and up.
                        order: 3
                      - certification: R13
                        meaning: Restricted to persons 13 years of age and over.
                        order: 4
                      - certification: R15
                        meaning: Restricted to persons 15 years of age and over.
                        order: 6
                      - certification: R16
                        meaning: Restricted to persons 16 years of age and over.
                        order: 7
                      - certification: R18
                        meaning: Restricted to persons 18 years of age and over.
                        order: 9
                      - certification: R
                        meaning: >-
                          Restricted to a particular class of persons, or for particular purposes,
                          or both.
                        order: 11
                      - certification: RP13
                        meaning: ''
                        order: 5
                      - certification: RP16
                        meaning: ''
                        order: 8
                      - certification: RP18
                        meaning: ''
                        order: 10
                    TW:
                      - certification: 0+
                        meaning: Viewing is permitted for audiences of all ages.
                        order: 1
                      - certification: 6+
                        meaning: >-
                          Viewing is not permitted for children under 6; children between 6 and 11
                          shall be accompanied and given guidance by parents, teachers, seniors,
                          or adult relatives or friends.
                        order: 2
                      - certification: 12+
                        meaning: Viewing is not permitted for children under 12.
                        order: 3
                      - certification: 15+
                        meaning: Viewing is not permitted for those under 15.
                        order: 4
                      - certification: 18+
                        meaning: Viewing is not permitted for those under 18.
                        order: 5
                    UA:
                      - certification: 0+
                        meaning: Suitable for all ages.
                        order: 1
                      - certification: 12+
                        meaning: Suitable for persons aged 12 years and over.
                        order: 2
                      - certification: 16+
                        meaning: Suitable for persons aged 16 years and over.
                        order: 3
                      - certification: 18+
                        meaning: Suitable only for adults.
                        order: 4
                    IN:
                      - certification: U
                        meaning: >-
                          Unrestricted Public Exhibition throughout India, suitable for all age
                          groups. Films under this category should not upset children over 4. Such
                          films may contain educational, social or family-oriented themes. Films
                          under this category may also contain fantasy violence and/or mild bad
                          language.
                        order: 1
                      - certification: U/A 7+
                        meaning: Viewable for 7 and above years old.
                        order: 2
                      - certification: UA
                        meaning: >-
                          All ages admitted, but it is advised that children below 12 be
                          accompanied by a parent as the theme or content may be considered
                          intense or inappropriate for young children. Films under this category
                          may contain mature themes, sexual references, mild sex scenes, violence
                          with brief gory images and/or infrequent use of crude language.
                        order: 3
                      - certification: U/A 13+
                        meaning: Viewable for 13 and above years old.
                        order: 4
                      - certification: U/A 16+
                        meaning: Viewable for 16 and above years old.
                        order: 5
                      - certification: A
                        meaning: >-
                          Restricted to adult audiences (18 years or over). Nobody below the age
                          of 18 may buy/rent an A-rated DVD, VHS, UMD or watch a film in the
                          cinema with this rating. Films under this category may contain
                          adult/disturbing themes, frequent crude language, brutal violence with
                          blood and gore, strong sex scenes and/or scenes of drug abuse which is
                          considered unsuitable for minors.
                        order: 6
                      - certification: S
                        meaning: Restricted to any special class of persons.
                        order: 7
                    KR:
                      - certification: ALL
                        meaning: Film suitable for all ages.
                        order: 0
                      - certification: '12'
                        meaning: >-
                          Film intended for audiences 12 and over. Underage audiences accompanied
                          by a parent or guardian are allowed.
                        order: 1
                      - certification: '15'
                        meaning: >-
                          Film intended for audiences 15 and over. Underage audiences accompanied
                          by a parent or guardian are allowed.
                        order: 2
                      - certification: '19'
                        meaning: No one under 19 is allowed to watch this film.
                        order: 3
                      - certification: Restricted Screening
                        meaning: >-
                          Film needs a certain restriction in screening or advertisement as it is
                          considered a highly bad influence to universal human dignity, social
                          value, good customs or national emotion due to excessive expression of
                          nudity, violence, social behavior, etc. (technically not an age
                          restriction but films with this rating may only be screened at 
                        order: 4
                    RO:
                      - certification: AP
                        meaning: General audience.
                        order: 1
                      - certification: '12'
                        meaning: Parental guidance for children under 12.
                        order: 2
                      - certification: '15'
                        meaning: Not recommended for children under 15.
                        order: 3
                      - certification: '18'
                        meaning: Prohibited to minors under 18.
                        order: 4
                      - certification: 18+
                        meaning: Prohibited to minors under 18 and projection in public.
                        order: 5
                      - certification: IC
                        meaning: Prohibition of communication.
                        order: 6
                    MO:
                      - certification: A
                        meaning: ''
                        order: 1
                      - certification: B
                        meaning: ''
                        order: 2
                      - certification: C
                        meaning: ''
                        order: 3
                      - certification: D
                        meaning: ''
                        order: 4
                    NL:
                      - certification: AL
                        meaning: All ages.
                        order: 1
                      - certification: '6'
                        meaning: Potentially harmful to children under 6 years.
                        order: 2
                      - certification: '9'
                        meaning: Potentially harmful to children under 9 years.
                        order: 3
                      - certification: '12'
                        meaning: >-
                          Potentially harmful to children under 12 years; broadcasting is not
                          allowed before 8:00 pm.
                        order: 4
                      - certification: '16'
                        meaning: >-
                          Potentially harmful to children under 16 years; broadcasting is not
                          allowed before 10:00 pm.
                        order: 6
                      - certification: '14'
                        meaning: >-
                          Potentially harmful to children under 14 years; broadcasting is not
                          allowed before 8:00 pm.
                        order: 5
                      - certification: '18'
                        meaning: >-
                          Potentially harmful to (and not allowed for) children under 18 years;
                          broadcasting is not allowed before midnight.
                        order: 7
                    SK:
                      - certification: U
                        meaning: General audience.
                        order: 1
                      - certification: '7'
                        meaning: Not recommended for children younger than 7 years.
                        order: 2
                      - certification: '12'
                        meaning: Not recommended for people younger than 12 years.
                        order: 3
                      - certification: '15'
                        meaning: Not recommended for people younger than 15 years.
                        order: 4
                      - certification: '18'
                        meaning: Prohibited for minors under 18 years of age.
                        order: 5
                    AU:
                      - certification: G
                        meaning: General. The content is very mild in impact.
                        order: 1
                      - certification: PG
                        meaning: >-
                          Parental guidance recommended. There are no age restrictions. The
                          content is mild in impact.
                        order: 2
                      - certification: M
                        meaning: >-
                          Recommended for mature audiences. There are no age restrictions. The
                          content is moderate in impact.
                        order: 3
                      - certification: MA 15+
                        meaning: >-
                          Mature Accompanied. Unsuitable for children younger than 15. Children
                          younger than 15 years must be accompanied by a parent or guardian. The
                          content is strong in impact.
                        order: 4
                      - certification: R 18+
                        meaning: >-
                          Restricted to 18 years and over. Adults only. The content is high in
                          impact.
                        order: 5
                      - certification: X 18+
                        meaning: >-
                          Restricted to 18 years and over. Films with this rating have
                          pornographic content. Films classified as X18+ are banned from being
                          sold or rented in all Australian states and are only legally available
                          in the Australian Capital Territory and the Northern Territory. However,
                          importing X18+ material from the two territories to any of the
                          Australian states is legal.The content is sexually explicit in impact.
                        order: 6
                      - certification: RC
                        meaning: >-
                          Refused Classification. Banned from sale or hire in Australia; also
                          generally applies to importation (if inspected by and suspicious to
                          Customs). Private Internet viewing is unenforced and attempts to legally
                          censor such online material has resulted in controversy. Films are rated
                          RC if their content exceeds the guidelines. The content is very high in
                          impact.
                        order: 7
                    GB:
                      - certification: '15'
                        meaning: >-
                          Only those over 15 years are admitted. Nobody younger than 15 can rent
                          or buy a 15-rated VHS, DVD, Blu-ray Disc, UMD or game, or watch a film
                          in the cinema with this rating. Films under this category can contain
                          adult themes, hard drugs, frequent strong language and limited use of
                          very strong language, strong violence and strong sex references, and
                          nudity without graphic detail. Sexual activity may be portrayed but
                          without any strong detail. Sexual violence may be shown if discreet and
                          justified by context.
                        order: 5
                      - certification: R18
                        meaning: >-
                          Can only be shown at licensed adult cinemas or sold at licensed sex
                          shops, and only to adults, those aged 18 or over. Films under this
                          category are always hard-core pornography, defined as material intended
                          for sexual stimulation and containing clear images of real sexual
                          activity, strong fetish material, explicit animated images, or sight of
                          certain acts such as triple simultaneous penetration and snowballing.
                          There remains a range of material that is often cut from the R18 rating:
                          strong images of injury in BDSM or spanking works, urolagnia, scenes
                          suggesting incest even if staged, references to underage sex or
                          childhood sexual development and aggressive behaviour such as
                          hair-pulling or spitting on a performer are not permitted. More cuts are
                          demanded in this category than any other category.
                        order: 7
                      - certification: PG
                        meaning: >-
                          All ages admitted, but certain scenes may be unsuitable for young
                          children. May contain mild language and sex/drugs references. May
                          contain moderate violence if justified by context (e.g. fantasy).
                        order: 2
                      - certification: 12A
                        meaning: >-
                          Films under this category are considered to be unsuitable for very young
                          people. Those aged under 12 years are only admitted if accompanied by an
                          adult, aged at least 18 years, at all times during the motion picture.
                          However, it is generally not recommended that children under 12 years
                          should watch the film. Films under this category can contain mature
                          themes, discrimination, soft drugs, moderate swear words, infrequent
                          strong language and moderate violence, sex references and nudity. Sexual
                          activity may be briefly and discreetly portrayed. Sexual violence may be
                          implied or briefly indicated.
                        order: 3
                      - certification: U
                        meaning: All ages admitted, there is nothing unsuitable for children.
                        order: 1
                      - certification: '18'
                        meaning: >-
                          Only adults are admitted. Nobody younger than 18 can rent or buy an
                          18-rated VHS, DVD, Blu-ray Disc, UMD or game, or watch a film in the
                          cinema with this rating. Films under this category do not have
                          limitation on the bad language that is used. Hard drugs are generally
                          allowed, and explicit sex references along with detailed sexual activity
                          are also allowed. Scenes of strong real sex may be permitted if
                          justified by the context. Very strong, gory, and/or sadistic violence is
                          usually permitted. Strong sexual violence is permitted unless it is
                          eroticised or excessively graphic.
                        order: 6
                      - certification: '12'
                        meaning: >-
                          Home media only since 2002. 12A-rated films are usually given a 12
                          certificate for the VHS/DVD version unless extra material has been added
                          that requires a higher rating. Nobody younger than 12 can rent or buy a
                          12-rated VHS, DVD, Blu-ray Disc, UMD or game. The content guidelines are
                          identical to those used for the 12A certificate.
                        order: 4
                    RU:
                      - certification: 6+
                        meaning: (For children above 6) – Unsuitable for children under 6.
                        order: 2
                      - certification: 0+
                        meaning: All ages are admitted.
                        order: 1
                      - certification: 16+
                        meaning: (For children above 16) – Unsuitable for children under 16.
                        order: 4
                      - certification: 18+
                        meaning: (Prohibited for children) – Prohibited for children under 18.
                        order: 5
                      - certification: 12+
                        meaning: (For children above 12) – Unsuitable for children under 12.
                        order: 3
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                    SE:
                      - certification: '11'
                        meaning: >-
                          Children over the age of 7, who are accompanied by an adult, are
                          admitted to films that have been passed for children from the age of 11.
                        order: 3
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: '15'
                        meaning: >-
                          Children over the age of 7, who are accompanied by an adult, are
                          admitted to films that have been passed for children from the age of 11.
                          Updated on March 1, 2017.
                        order: 4
                      - certification: Btl
                        meaning: All ages.
                        order: 1
                      - certification: '7'
                        meaning: >-
                          Children under the age of 7, who are accompanied by an adult (a person
                          aged 18 or over), are admitted to films that have been passed for
                          children from the age of 7.
                        order: 2
                    PR:
                      - certification: G
                        meaning: ''
                        order: 1
                      - certification: PG
                        meaning: ''
                        order: 2
                      - certification: PG-13
                        meaning: ''
                        order: 3
                      - certification: R
                        meaning: ''
                        order: 4
                      - certification: NC-17
                        meaning: ''
                        order: 5
                      - certification: NR
                        meaning: ''
                        order: 0
                    LT:
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: V
                        meaning: Movies for the audience of all ages.
                        order: 1
                      - certification: N-7
                        meaning: >-
                          Movies for viewers from 7 years old. Younger than 7 years of age,
                          viewers of this index have been featured only together with accompanying
                          adult persons.
                        order: 2
                      - certification: N-13
                        meaning: >-
                          Movies for viewers from 13 years of age. The viewers from 7 to 13 years
                          of age are allowed to enter this index only together with accompanying
                          adult persons.
                        order: 3
                      - certification: N-16
                        meaning: Movies for viewers from 16 years of age.
                        order: 4
                      - certification: N-18
                        meaning: Movies for viewers from 18 years of age.
                        order: 5
                    MY:
                      - certification: NR
                        meaning: No rating information.
                        order: 0
                      - certification: U
                        meaning: >-
                          (Umum: "General Audiences") - For general audiences. (Used by the
                          majority of films screened in Malaysia until 2008 but it continues only
                          for television, notably for RTM.)
                        order: 1
                      - certification: P13
                        meaning: >-
                          (Penjaga 13 : "Parental Guidance 13") - Children under 13 not admitted
                          unless accompanied by an adult. (Introduced in 2006, this became the
                          official Malaysian motion picture rating system in 2008. The "PG-13"
                          rating was revised to "P13" from April 2012 onwards to emphasize the use
                          of Malay language instead of English.) Passionate kissing scenes are not
                          allowed under a P13 rating.
                        order: 2
                      - certification: 18SG
                        meaning: >-
                          (Seram, Ganas: "Graphic Violence and Horror/Terror") - Film may contain
                          strong violence, gore or horror/terror people may find objectionable.
                        order: 3
                      - certification: 18SX
                        meaning: >-
                          (Seks: "Sexual Content") - Film may contain sex scenes, nudity or sexual
                          dialogue/references people may find objectionable (despite scenes of sex
                          and nudity being strictly censored off by the LPF.)
                        order: 4
                      - certification: 18PA
                        meaning: >-
                          (Politik, Agama: "Strong Religious or Political Elements") - Film may
                          contain elements which include religious, social or political aspects
                          people may find objectionable. Rarely used.
                        order: 5
                      - certification: 18PL
                        meaning: >-
                          (Pelbagai: "Various") - Film may contain strong violence, gore,
                          horror/terror, sex scenes, nudity, sexual dialogues/references,
                          religious, social or political aspects people may find objectionable.
                          The majority of the 18+ movies use this rating. For example, a film with
                          sex scenes and strong violence will be classified as 18PL, despite
                          scenes of sex and nudity being strictly censored off by the LPF.
                        order: 6
                    ZA:
                      - certification: A
                        meaning: Suitable for all.
                        order: 1
                      - certification: PG
                        meaning: Parental Guidance.
                        order: 2
                      - certification: 7-9PG
                        meaning: >-
                          Not suitable for children under the age of 7. Children aged 7–9 years
                          old may not be admitted unless accompanied by an adult.
                        order: 3
                      - certification: 10-12PG
                        meaning: >-
                          Not suitable for children under the age of 10. Children aged 10–12 years
                          old may not be admitted unless accompanied by an adult.
                        order: 4
                      - certification: '13'
                        meaning: Not suitable for children under the age of 13.
                        order: 5
                      - certification: '16'
                        meaning: Not suitable for persons under the age of 16.
                        order: 6
                      - certification: '18'
                        meaning: Not suitable for persons under the age of 18.
                        order: 7
                      - certification: X18
                        meaning: No one under 18 admitted; restricted to licensed adult premises.
                        order: 8
                      - certification: XX
                        meaning: Must not be distributed or exhibited in public.
                        order: 9
                    LU:
                      - certification: A
                        meaning: ''
                        order: 1
                      - certification: '6'
                        meaning: ''
                        order: 2
                      - certification: '12'
                        meaning: ''
                        order: 3
                      - certification: '16'
                        meaning: ''
                        order: 4
                      - certification: '18'
                        meaning: ''
                        order: 5
                    CZ:
                      - certification: UR
                        meaning: Not rated.
                        order: 0
                      - certification: U
                        meaning: No age limit.
                        order: 1
                      - certification: 12+
                        meaning: Unsuitable for persons under the age of 12.
                        order: 2
                      - certification: 15+
                        meaning: Unsuitable for persons under the age of 15.
                        order: 3
                      - certification: 18+
                        meaning: Unsuitable for persons under the age of 18.
                        order: 4
                    BG:
                      - certification: D
                        meaning: Prohibited for persons under 16.
                        order: 4
                      - certification: X
                        meaning: Prohibited for persons under 18.
                        order: 5
                      - certification: B
                        meaning: Without age restrictions.
                        order: 2
                      - certification: C
                        meaning: Not recommended for children under 12.
                        order: 3
                      - certification: A
                        meaning: Recommended for children.
                        order: 1
                    US:
                      - certification: R
                        meaning: >-
                          Under 17 requires accompanying parent or adult guardian 21 or older. The
                          parent/guardian is required to stay with the child under 17 through the
                          entire movie, even if the parent gives the child/teenager permission to
                          see the film alone. These films may contain strong profanity, graphic
[...]
